body{
    margin: 0px;
    font-family: 'Prata', serif;
}
h1{
    font-size: 50 px;
}
.name-hilight{
    color: orangered;
}
.sec_1{
    width: 43%;
    float: left;
    margin-left: 5px;
    padding-left: 2px;
}
.sec_1 img{
    width: 100%;
}
section{
    height: 500px;
}
.fb_link{
    text-decoration: none;
    background-image: linear-gradient(45deg, lightsalmon, tomato);
    padding: 10px 20px;
    border-radius: 5px;
    color: blanchedalmond;
    font-weight: 900;
}